---
layout: page
title: Activities
permalink: /activities/
nav-weight: 20
filters: true
---
<div class="filters nav-center">
  <span class="sr-only">Filter by category</span>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#" class="filter" id="all">All</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-summer">Summer</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-winter">Winter</a></li>
  </ul>
</div>
{% include objects.html objects=site.activities template='activity' column-classes='col-sm-3' %}
