---
layout: page
title: Discover
permalink: /discover/
nav-weight: 15
---
<ul>
  <li>Getting here (feat. transport)</li>
  <li>Getting around (feat. transport)</li>
  <li>Map (mtb/trails/printable) (feat. biking/walking activity)</li>
  <li>Community (feat. community facilities)
    <ul>
      <li><a href="http://destinationnelsonlakes.co.nz/">Destination Nelson Lakes</a></li>
      <li><a href="http://lakerotoiti.school.nz/">Lake Rotoiti Primary School</a></li>
      <li><a href="http://skirainbow.co.nz/">Ski Rainbow</a></li>
    </ul>
  </li>
  <li>Conservation
    <ul>
      <li><a href="http://friendsofrotoiti.org.nz/">Friends of Rotoiti</a></li>
      <li><a href="http://doc.govt.nz/parks-and-recreation/places-to-go/nelson-tasman/places/nelson-lakes-national-park/">DOC Nelson Lakes</a></li>
    </ul>
  </li>
  <li>(link to News)</li>
  <li>(link to Events)</li>
</ul>
