---
layout: page
title: Home
permalink: /
nav-weight: 10
no-title: true
no-container: true
weather: true
social: true
featured-object: true
---
<div class="feature" style="background-image: url('{% asset_path 'img/main.jpg' %}');">
  <div class="container">
    <div class="text">
      <h1 class="page-header">Gateway to the Nelson Lakes</h1>
      <nav>
        <ul class="list-inline">
          <li><a href="{{ site.baseurl }}/discover/" class="btn btn-lg btn-primary" role="button">Discover St. Arnaud <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.baseurl }}/activities/" class="btn btn-lg btn-primary" role="button">Explore activities <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.baseurl }}/places/" class="btn btn-lg btn-primary" role="button">Find places <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="list-inline">
          <li><a href="{{ site.baseurl }}/whats-on/" class="btn btn-default" role="button">What's On <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.baseurl }}/weather/" class="btn btn-default" role="button">Weather <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.baseurl }}/webcam/" class="btn btn-default" role="button">Webcam <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <article class="main">
    <h1>Welcome to St. Arnaud, New Zealand!</h1>
    <p>St. Arnaud is a small alpine village beside Lake Rotoiti, on the doorstep of Nelson Lakes National Park.</p>
    <p><strong>NB: This website is a work in progress, most of the website has little content - watch this space!</strong></p>
  </article>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4">
          {% include blocks/weather.html %}
        </div>
        <div class="col-md-4">
          {% include blocks/news.html %}
        </div>
        <div class="col-md-4">
          {% include blocks/events.html %}
        </div>
      </div>
    </div>
  </div>
  <!--% include blocks/social.html %-->
</div>

<div class="feature" style="background-image: url('{% asset_path 'img/main.jpg' %}');">
  <div class="container">
    <h2>Featured</h2>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        {% include featured/activity.html %}
      </div>
      <div class="col-md-4">
        {% include featured/place.html %}
      </div>
    </div>
  </div>
</div>
