---
layout: page
title: Places
permalink: /places/
nav-weight: 30
filters: true
---
<div class="filters nav-center">
  <span class="sr-only">Filter by category</span>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#" class="filter" id="all">All</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-food">Food</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-accommodation">Accommodation</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-community">Community</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-retail">Retail</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-transport">Transport</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-information">Information</a></li>
    <li role="presentation"><a href="#" class="filter" id="category-experience">Experience</a></li>
  </ul>
</div>
{% include objects.html objects=site.places template='place' column-classes='col-xs-6 col-sm-4 col-md-3' %}
