---
layout: page
title: Weather
permalink: /weather/
weather: true
nav-weight: 70
---
<div id="weather-latest">Loading...</div>
<p>Data courtesy of <a href="http://nrfa.harvest.com/w.cgi?hsn=11720">St. Arnaud Rural Fire Authority</a></p>

{% raw %}
<script id="template-weather" type="x-tmpl-mustache">
  <h2>Latest weather <small>{{ LastLogTime.time }}</small></h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Current</h3>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Temperature</th><td>{{ AirTemp.value }} {{ AirTemp.units }} {{{ AirTemp.trend }}}</td></tr>
          <tr><th>Humidity</th><td>{{ Humidity.value }} {{ Humidity.units }} {{{ Humidity.trend }}}</td></tr>
          <tr><th>Wind</th><td>{{ WindSpeed.value }} {{ WindSpeed.units }} {{{ WindSpeed.trend }}}</td></tr>
          <tr><th>Wind (gust)</th><td>{{ WindGust.value }} {{ WindGust.units }} {{{ WindGust.trend }}}</td></tr>
          <tr><th>Wind direction</th><td>{{ WindDir.compass }} ({{ WindDir.value }} {{ WindDir.units }})</td></tr>
          <tr><th>Rain (hourly)</th><td>{{ RainHourly.value }} {{ RainHourly.units }} {{{ RainHourly.trend }}}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Past 24 hours</h3>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>Temperature</th><td>{{ AirTemp.min }} {{ AirTemp.units }}</td><td>{{ AirTemp.max }} {{ AirTemp.units }}</td></tr>
          <tr><th>Humidity</th><td>{{ Humidity.min }} {{ Humidity.units }}</td><td>{{ Humidity.max }} {{ Humidity.units }}</td></tr>
          <tr><th>Wind</th><td>{{ WindSpeed.min }} {{ WindSpeed.units }}</td><td>{{ WindSpeed.max }} {{ WindSpeed.units }}</td></tr>
          <tr><th>Wind (gust)</th><td>{{ WindGust.min }} {{ WindGust.units }}</td><td>{{ WindGust.max }} {{ WindGust.units }}</td></tr>
          <tr><th>Rain (hourly)</th><td>{{ RainHourly.min }} {{ RainHourly.units }}</td><td>{{ RainHourly.max }} {{ RainHourly.units }}</td></tr>
          <tr><th>Total rain</th><td>-</td><td>{{ RainDaily.value }} {{ RainDaily.units }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
{% endraw %}
