---
layout: page
title: Webcam
permalink: /webcam/
nav-weight: 80
---
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Latest Lake Rotoiti webcam</h2>
      </div>
      <div class="panel-body">
        <p><img src="http://snapithd.com/static/lakerotoiti.jpg?width=770" class="img-responsive" alt="Lake Rotoiti webcam" /></p>
        <p><a href="http://encounter.snapithd.com/html5player/iframe_javascript.php?t=t&amp;w=t1bd338151dw41">View full screen</a>&nbsp;&middot;&nbsp;<small>Webcam courtesy of Tasman District Council</small></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Latest Rainbow Ski Area webcam</h2>
      </div>
      <div class="panel-body">
        <p><img src="http://www.skirainbow.co.nz/_skirainbow/SnowReport/Rainbow/latest.jpg" alt="Rainbow Ski Area webcam" class="img-responsive" /></p>
        <p><small>Webcam courtesy of Rainbow Ski Area</small></p>
      </div>
    </div>

  </div>
</div>
