---
layout: page
title: What's On
permalink: /whats-on/
nav-weight: 60
---
<div class="row">
  <div class="col-md-6">
    <h2>News</h2>
    {% include objects.html objects=site.posts template='news' column-classes='col-md-12' %}
  </div>
  <div class="col-md-6">
    <h2>Events</h2>
  </div>
</div>
