<footer>
  <p><a href="{{ site.baseurl }}/about/">About</a>&nbsp;&middot;&nbsp;<a href="{{ site.baseurl }}/privacy/">Privacy</a></p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="{% asset_path 'img/creative-commons.png' %}" /></a></p>
  <p>Copyright &copy; 2016, except where otherwise noted.</p>
</footer>
