<!-- Other metadata -->
<meta name="google-site-verification" content="{{ site.google-site-verification }}" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% asset_path 'img/favicons/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% asset_path 'img/favicons/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% asset_path 'img/favicons/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% asset_path 'img/favicons/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% asset_path 'img/favicons/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% asset_path 'img/favicons/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% asset_path 'img/favicons/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% asset_path 'img/favicons/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% asset_path 'img/favicons/apple-touch-icon-180x180.png' %}">
<link rel="icon" type="image/png" href="{% asset_path 'img/favicons/favicon-32x32.png' %}"  sizes="32x32">
<link rel="icon" type="image/png" href="{% asset_path 'img/favicons/android-chrome-192x192.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% asset_path 'img/favicons/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% asset_path 'img/favicons/favicon-16x16.png' %}" sizes="16x16">
<link rel="manifest" href="{% asset_path 'img/favicons/manifest.json' %}">
<meta name="theme-color" content="#0092b8">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">

<!-- Styles -->
{% stylesheet 'css/main.scss' %}
