{% if page.social %}{% include facebook_sdk.html %}{% endif %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% assign pages = site.pages | sort:"nav-weight"  %}
        {% for link in pages %}
          {% if link.title and link.no-nav == nil %}
          <li {% if page.url contains link.url and link.url != '/' %}class="active"{% elsif page.url == link.url %}class="active"{% endif %}>
            <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
