{% assign objects = include.objects %}
{% assign template = include.template %}
{% assign category = include.category %}
{% assign column-classes = include.column-classes %}
{% capture template-path %}objects/{{ template }}.html{% endcapture %}

<div class="row">
{% for object in objects %}
  {% if category %}{% unless object.categories contains category %}{% continue %}{% endunless %}{% endif %}
  <div class="{{ column-classes }} clearfix">
    {% include {{ template-path }} object=object %}
  </div>
{% endfor %}
</div>
