$(function() {
  'use strict';

  /* JSON decoding */
  $.getJSON('{{ site.baseurl }}/objects.json', function(objectsJSON) {
    for(var key in objectsJSON) {
      /* Parse data */
      var name = objectsJSON[key].name;
      var data = objectsJSON[key].data;

      /* Parse template, if it exists */
      try {
        var template = $('#template-' + name).html();
        Mustache.parse(template);

        /* Get random object */
        var randomObject = data[Math.floor(Math.random()*data.length)];

        /* Output */
        var output = Mustache.render(template, randomObject);

        $('#featured-' + name).html(output);
      }
      catch(error) {}
    }
  });
});
