<section class="block news">
  <h1><a href="{{ site.baseurl }}/whats-on/">News</a></h1>
  <ul>
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}&nbsp;{{ post.date | date: "%-d %b %Y" }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
