<section class="block social">
  <h1>Social Media</h1>
  <div class="fb-page" data-href="https://www.facebook.com/NelsonLakes" data-tabs="timeline" data-height="640" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/NelsonLakes" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NelsonLakes">Nelson Lakes , New Zealand</a></blockquote></div>
</section>
