<section class="block weather">
  <h1><a href="{{ site.baseurl }}/weather/">Weather</a></h1>
  <div id="weather-latest">Loading...</div>

  {% raw %}
  <script id="template-weather" type="x-tmpl-mustache">
    <table class="table table-striped table-responsive">
      <tbody>
        <tr><th>Temperature</th><td>{{ AirTemp.value }} {{ AirTemp.units }} {{{ AirTemp.trend }}}</td></tr>
        <tr><th>Wind</th><td>{{ WindDir.compass }} {{ WindSpeed.value }} {{ WindSpeed.units }} {{{ WindSpeed.trend }}}</td></tr>
        <tr><th>Rain (hourly)</th><td>{{ RainHourly.value }} {{ RainHourly.units }} {{{ RainHourly.trend }}}</td></tr>
      </tbody>
    </table>
    <p>As at: {{ LastLogTime.time }}&nbsp;&middot;&nbsp;<a href="{{ site.baseurl }}/weather/">Details</a></p>
  </script>
  {% endraw %}
</section>
