@charset "utf-8";

/* Functions */
@mixin flex() {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

@mixin justify-content($value) {
         -webkit-box-pack: justify;
            -ms-flex-pack: justify;

  -webkit-justify-content: $value;
     -moz-justify-content: $value;
          justify-content: $value;
}

@mixin flex-grow($amount) {
  -ms-flex-positive: $amount;
   -webkit-box-flex: $amount;

  -webkit-flex-grow: $amount;
     -moz-flex-grow: $amount;
          flex-grow: $amount;
}

@mixin align-items-center() {
  -webkit-align-items: center;
    -webkit-box-align: center;
       -moz-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

@mixin align-items-end() {
  -webkit-align-items: flex-end;
    -webkit-box-align: end;
       -moz-box-align: end;
       -ms-flex-align: end;
          align-items: flex-end;
}

/* General */
article, aside {
  margin: $line-height-computed*2 0;
}

.page-header {
  border-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  font-family: $font-family-cursive;
  font-weight: 400;
  font-size: $font-size-page-header;
}

.nav-center {
  text-align: center;
  ul {
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}

/* Navbar */
$navbar-element-height: 40px;
$navbar-element-margin-vertical: (($navbar-height)-($navbar-element-height))/2;
$navbar-element-padding-vertical: (($navbar-element-height)-($line-height-computed))/2;

@media (min-width: $grid-float-breakpoint) {
  ul.nav.navbar-nav li {
    a {
      margin-top: $navbar-element-margin-vertical;
      margin-bottom: $navbar-element-margin-vertical;
      padding-top: $navbar-element-padding-vertical;
      padding-bottom: $navbar-element-padding-vertical;
    }
  }
}

nav.navbar {
  border: 0;
}

.navbar-brand {
  padding-top: $navbar-element-margin-vertical;
  padding-bottom: $navbar-element-margin-vertical;
  font-family: $font-family-cursive;
  font-weight: 400;
  font-size: $navbar-element-height;
  line-height: $navbar-element-height;

  img {
    height: $navbar-element-height;
  }
}

/* Featured */
.feature {
  height: 498px;
  background-size: cover;
  background-position: center center;
  //border-top: $border-primary;
  //border-bottom: $border-primary;
  box-shadow: inset 0px 30px 30px -30px rgba(20,20,20,0.75),inset 0px -30px 30px -30px rgba(20,20,20,0.75);
  font-size: $jumbotron-font-size;

  .container {
    height: 100%;
    @include flex();
    @include align-items-center();
    @include justify-content(space-between);
  }

  &.feature-bottom .container {
    @include align-items-end();
    .attribution {
      margin-bottom: $line-height-computed;
    }
  }

  .text {
    @include flex-grow(2);
    color: $white;
    h1 {
      margin-top: 0;
      margin-bottom: $line-height-computed;
      font-size: $jumbotron-heading-font-size;
      font-family: $font-family-cursive;
      font-weight: 400;
    }

    nav ul.list-inline {
      margin-top: -5px;
      margin-left: -5px;
      li {
        padding: 5px;
      }
    }
  }

  .attribution {
    text-align: right;
    @include flex-grow(1);
    a {
      color: transparentize($white, 0.3);
    }
  }

  /** Add part transparency to buttons on feature **/
  .btn-default {
    @include button-variant($btn-default-color, transparentize($btn-default-bg, 0.2), $btn-default-border);
  }
  .btn-primary {
    @include button-variant($btn-primary-color, transparentize($btn-primary-bg, 0.2), $btn-primary-border);
  }
  .btn-success {
    @include button-variant($btn-success-color, transparentize($btn-success-bg, 0.2), $btn-success-border);
  }
  .btn-info {
    @include button-variant($btn-info-color, transparentize($btn-info-bg, 0.2), $btn-info-border);
  }
  .btn-warning {
    @include button-variant($btn-warning-color, transparentize($btn-warning-bg, 0.2), $btn-warning-border);
  }
  .btn-danger {
    @include button-variant($btn-danger-color, transparentize($btn-danger-bg, 0.2), $btn-danger-border);
  }
}

/* Aside */
aside {

}

/* Blocks */
section.block {
  background-color: $gray-lightest;
  overflow: hidden;
  margin-bottom: $line-height-computed;
  padding: $line-height-computed $panel-body-padding;

  table.table {
    margin-bottom: $line-height-computed/2;
  }

  h1, h2 {
    margin-top: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $brand-primary;
    text-transform: uppercase;
    text-align: center;

    a, a:hover, a:active {
      text-decoration: none;
      color: $brand-primary;
    }

    /** Line effect **/
    &:before,
    &:after {
      background-color: $gray-light;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    &:before {
      right: $panel-body-padding;
      margin-left: -50%;
    }
    &:after {
      left: $panel-body-padding;
      margin-right: -50%;
    }
  }

  h1 {
    @extend .h3;
  }

  h2 {
    @extend .h4;
  }

  ul {
    @extend .list-unstyled;
  }

  /** Specific block styles **/
  &.news {
    ul {
      li {
        border-top: 1px solid $table-border-color;
        background-color: $white;
        padding: $table-cell-padding;
        &:last-child {
          border-bottom: 1px solid $table-border-color;
        }
      }
    }
  }
  &.weather {

  }
  &.details {

  }
  &.social {

  }
  &.events {

  }
}

/* Icons */
span.icon {
  display: inline-block;
  font-size: $font-size-h4;
  margin: $icon-margin;
}

/* Objects */
.object {
  .content {
    height: 249px;
    position: relative;
    background-color: $gray-lightest;
    margin-bottom: $grid-gutter-width;
    overflow: hidden;

    .categories {
      position: absolute;
      top: $icon-margin*2;
      right: $icon-margin*2;
      color: $text-color;
    }

    .image {

    }

    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: $border-secondary;
      border-bottom: $border-secondary;
      background-color: transparentize($white, 0.2);
      padding-left: $line-height-computed/2;
      padding-right: $line-height-computed/2;

      h2 {
        @extend .h3;
        margin-top: $line-height-computed/2;
        margin-bottom: $line-height-computed/2;
      }
    }
    /** Sizing dependent **/
    // default is -4
    .col-xs-3 &, .col-sm-3 &, .col-md-3 & {
      height: 187px;
      h2 {
        @extend .h4;
      }
    }
  }
}

/** News (post) object **/
.object.post {
  border-top: 1px solid $table-border-color;

  &:last-child {
    border-bottom: 1px solid $table-border-color;
  }

  h2 {
    @extend .h3;
  }
}

/* Filters */
.filters {
  margin-bottom: $line-height-computed;
}

/* Footer */
footer {
  border-top: 1px solid $navbar-default-border;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  font-size: $font-size-small;
  text-align: center;
  background-color: $navbar-default-bg;
}
