<div class="object place" id="featured-places">Loading...</div>

{% raw %}
<script id="template-places" type="x-tmpl-mustache">
  <a href="{{ url }}">
  <div class="content" {{#feature-image}}style="background-image: url('{{ feature-image }}'); background-size: cover; background-position: center center;"{{/feature-image}}>
    <div class="text">
      <h2>{{ title }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
    </div>
  </div>
  </a>
</script>
{% endraw %}
