{% assign object = include.object %}

<div class="object activity {{ object.categories|category_classify }}">
  <a href="{{ object.url }}">
    <div class="content" {% if object.feature-image %}style="background-image: url('{{ object.feature-image }}'); background-size: cover; background-position: center center;"{% endif %}>
      <div class="categories">
        {{ object.categories|category_iconify }}
      </div>
      <div class="text">
        <h2>{{ object.title }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </div>
    </div>
  </a>
</div>
