{% assign object = include.object %}

<div class="object post">
  <a href="{{ object.url }}"><h2>{{ object.title }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2></a>
  <small>{{ object.date | date: "%-d %b %Y" }}</small>
  <p>{{ object.excerpt | strip_html }}</p>
  <p><a href="{{ object.url }}">Read more <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></p>
</div>
