---
layout: page
no-container: true
---
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <article class="main">
        {% unless page.feature-image %}
          {% unless no-title %}
            <h1 class="page-header">{{ page.title }}</h1>
            {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
          {% endunless %}
        {% endunless %}
        {{ content }}
      </article>
    </div>
    <div class="col-sm-4">
      <aside>
        <section class="details">
          <p>{{ page.categories | category_iconify }}</p>
        </section>
      </aside>
    </div>
  </div>
</div>
