---
layout: default
---
{% if page.no-container %}
  {% assign no-container = page.no-container %}
{% elsif layout.no-container %}
  {% assign no-container = layout.no-container %}
{% endif %}
{% if page.no-title %}
  {% assign no-title = page.no-title %}
{% elsif layout.no-title %}
  {% assign no-title = layout.no-title %}
{% endif %}

{% if page.feature-image %}
<div class="feature feature-bottom" style="background-image: url('{{ page.feature-image }}');">
  <div class="container">
    <div class="text">
      {% unless no-title %}
        <h1 class="page-header">{{ page.title }}</h1>
        {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
      {% endunless %}
    </div>
    {% if page.feature-image-attribution %}
      <div class="attribution">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Image: {{ page.feature-image-attribution }}">
          <i class="fa fa-camera" aria-hidden="true"></i>
          <span class="sr-only">Photo Attribution</span>
        </a>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% unless no-container %}
  <div class="container">
    <article class="main">
      {% unless page.feature-image %}
        {% unless no-title %}
          <h1 class="page-header">{{ page.title }}</h1>
          {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
        {% endunless %}
      {% endunless %}
{% endunless %}
    {{ content }}
{% unless no-container %}
    </article>
  </div>
{% endunless %}
