---
layout: page
no-container: true
---
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <article class="main">
        {% unless page.feature-image %}
          {% unless no-title %}
            <h1 class="page-header">{{ page.title }}</h1>
            {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
          {% endunless %}
        {% endunless %}
        {{ content }}
      </article>
    </div>
    <div class="col-sm-4">
      <aside>
        <section class="details">
          <p id="categories">{{ page.categories | category_iconify }}</p>
          {% if page.phone %}<p id="phone">{{ page.phone }}</p>{% endif %}
          {% if page.email %}<p id="email"><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>{% endif %}
          {% if page.web %}<p id="web"><a href="{{ page.web }}">{{ page.web }}</a></p>{% endif %}
          {% if page.address %}<hr /><p id="address">{{ page.address }}</p>{% endif %}
        </section>
      </aside>
    </div>
  </div>
</div>
